@model prodotnet.Models.Role

@{
    ViewData["Title"] = "Chi tiết vai trò";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoleID">Cập nhật</a> |
    <a asp-action="Index">Quay về</a>
</div>
